button {
  font-size: 16px;
  border-radius: 20rem;
  border: #2be262 1px solid;
  background-color: #2be262;
  box-shadow: inset 0px 0px 10px 0px #076423;
  color:#225028;
  min-height: 30px;
   & > a {
     color: #225028;
     text-decoration: none;
     font-size: 12px;
     font-weight: bold;
       }

   &:hover {
    cursor: pointer;
    background-color: #31bf4e;
    box-shadow:  0px 0px 10px 0px #9ee2b2;
    color: #ffffff;
  }

}

.button {
  &__enter {
    width: 100%;
    width: 100px;
    height: 60px;
    margin-left: 10px;
  }

  &__find {
    width: 80px;
    height: 60px;
    display: block;
    margin: 10px auto;
  }

  &__rewind, &__forward {

  }

}

@keyframes jump {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    transform: translateY(-5px);
    transform: translateY(-5px);
  }

  80% {
    transform: translateY(-2px);
    transform: translateY(-2px);
  }
}