header {
  flex-basis: 100%;
    display: flex;
  box-sizing: border-box;
  /*width: 100%;*/
  border-bottom: #2be263 1px solid;
  height: 100%;
  color: $font-color;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;

}




