header {
  background: linear-gradient(0deg, rgb(226, 206, 192), rgb(249, 249, 249) 100%);
  flex-basis: 100%;
    display: flex;
  box-sizing: border-box;
  border-bottom: #2be263 1px solid;
  height: 100%;
  color: $font-color;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;

  .title_project {
    flex-basis: 70%;
     font-size: 58px;
     color: #09ba3d;


  }

}






