
    .book__section {
      flex-basis: calc(100% / 3 - 20px);
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 60px;

      h5{
        margin: 10px 0;
      }
      h6{
        margin: 8px 0;
      }

      .cover {
        margin-right: 10px;
      }

      img {
        max-width: 139px;
        max-height: 193px;
      }

      [src$="_audio.png"] {
        width: 30px;
        height: 30px;
      }
    }




