body {
  font-family: "Roboto";
  background-color: white;
;

  .container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;

  }
}



