.navBar {
 flex-basis: 20%;
}
select {
  font-size: 14px;
  padding: 5px;
  width: 100%;
  min-width: 230px;
background-color: rgb(52 226 104 / 70%);
  border-color: #2be262;
  box-shadow: inset 0px 0px 10px 0px #076423;
  border-radius: 20rem;
}


